/*
* Theme : Influencer Assignment - 2
* Author : Md Yunus Ali
* Student Id : WEB5-1122
* Date: 1/15/2022
* Link: https://yunusapolash.github.io/influencer-gear-assignment-two/
* Code Link: https://github.com/YunusAPolash/influencer-gear-assignment-two
*/
:root {
  --font-color: #3a3a3a;
  --primary-color: #e02c6d;
  --product-title-color: #18191f;
  --rating-color: #fb8200;
  --font-grey: #787885;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*
*
* Common,Re-useable css 
*
*/

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn_primary {
  font-size: 18px;
  font-weight: 700px;
  display: inline-block;
  color: var(--white);
  background: var(--primary-color);
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
}
.has_icon i {
  margin-left: 5px;
}
.br_50 {
  border-radius: 50px;
}
a {
  text-decoration: none;
}
/*===========================
  #####  Nav Bar #####
============================*/

nav .navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navToggle,
.hidden_desk,
.mob_nav_cart {
  display: none;
}
.mob_nav_toggler input {
}
.navbar .logo h2 {
  color: var(--font-color);
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  margin: 0 2px;
}
.navbar ul li a {
  font-size: 18px;
  color: var(--font-color);
  font-weight: 600;
  padding: 10px 15px;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/*===========================
  #####  Banner Section #####
============================*/

.banner {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.banner .banner_left {
  flex: 1;
}
.banner_left h1 {
  font-size: 52px;
  color: var(--font-color);
  line-height: 70px;
}
.banner_left p {
  font-size: 16px;
  color: var(--font-color);
  font-weight: 600;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 20px;
}
.banner .banner_right {
  flex: 1;
  padding: 30px 0px;
  background-image: url(../images/Circle_design.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 70%;
  text-align: right;
}

.banner .banner_right img {
  width: 70%;
}

/*===========================
  #####  Brand Section #####
============================*/
.brand_sec {
  padding: 20px 0px;
}
.brand {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  align-items: center;
  padding: 25px 0px;
}
.brand::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  top: 0;
}
.brand::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  bottom: 0;
}

.brand .brand_item img {
  width: 60%;
}

/*==============================
#####  Popular Collection #####
================================*/
.popular_sec {
  margin: 100px 0px;
}
.title {
  margin-bottom: 30px;
}
.title h2 {
  font-size: 35px;
  font-weight: 600;
  color: var(--font-color);
  text-align: center;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.collection .collection_item {
  background: var(--white);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 17px 14px;
  border-radius: 10px;
}

.collection .collection_item .item_img img {
  width: 100%;
  margin-bottom: 16px;
}

.collection_info .product_name {
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 600;
  color: var(--product-title-color);
}

.collection_info .product_price {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.collection_info .product_rating {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
.collection_info .product_rating i {
  font-size: 14px;
  color: var(--rating-color);
}

.collection_info .product_details p {
  font-size: 16px;
  font-weight: 700;
  color: var(--font-grey);
  line-height: 1.43;
}

.collection_more {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

.collection_more a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
}
.collection_more a i {
  margin-left: 5px;
}

/*==============================
#####  Featured Section #####
================================*/
.feature_sec {
  margin-bottom: 100px;
}
.feature {
  display: flex;
  align-items: center;
}
.feature .feature_left {
  flex: 0.8;
}
.feature .feature_right {
  flex: 1.2;
}

.feature_right .feature_content h2 {
  margin-top: 0;
  font-size: 38px;
  font-weight: 700;
  color: #0a0826;
  margin-bottom: 16px;
}

.feature_right .feature_content p {
  font-size: 16px;
  font-weight: 600;
  color: var(--font-grey);
  margin-bottom: 16px;
}
/*==============================
#####  Footer #####
================================*/
footer {
  background: #0a0826;
  padding: 50px 0px;
}
.footer_wrap h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  margin-bottom: 3px;
}

.footer_wrap p {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
.social_icon {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social_icon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.15);
  color: var(--white);
  border-radius: 40px;
  font-size: 20px;
}

/************************************************ RESPONSIVE AREA ************************************************************/

/********************************
 For Desktop
*********************************/
@media screen and (min-width: 1999px) {
  .banner {
    height: 730px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .navbar ul {
    display: block;
  }
  .hidden_desk,
  .mob_nav_cart a i {
    font-size: 20px;
    color: var(--font-color);
    padding: 10px 20px;
    cursor: pointer;
  }
  .navbar ul {
    top: 70px;
    position: absolute;
    flex-direction: column;
    background: var(--product-title-color);
    width: 40%;
    height: 100%;
    left: 0;
    transform: translateX(-200%);
    padding-top: 10px;
    transition: transform 0.5s ease;
  }
  .navbar ul li a {
    display: block;
    color: #fff;
    padding-left: 25px;
  }
  .navbar ul li a i {
    display: none;
  }
  .hidden_desk,
  .mob_nav_cart {
    display: block;
  }

  #navToggle:checked ~ .navbar-nav {
    transform: translateX(0%);
  }
  .banner {
    flex-direction: column;
  }
  .banner_left {
    order: 2;
  }
  .banner .banner_right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 80%;
    background-position: center;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 95%;
  }
  .navbar .logo h2 {
    font-size: 20px;
  }
  .navbar ul {
    width: 80%;
  }
}
